h1 {
  font-family: Arial, sans-serif;
  font-size: 3em;
  color: #212121;
}

h3 {
  color: #212121;
}

body {
  margin: auto;
  font-family: sans-serif;
  width: 900px;
}

#ruby {
  background-color: #d3d3d3;
}