#ruby {
  font-family: monospace;
  font-size: 16px;
  background-color: #e8e8ee;
  display: block;
}

.ruby {
  font-family: monospace;
  font-size: 16px;
}

ol li {
  list-style-type: upper-roman;
  display: block;
  padding: 10px;
}

pre {
  margin-right: 150px;
  margin-left: 150px;
  font-family: monospace;
  font-size: 16px;
  background-color: #e8e8ee;
}

#page {
  max-width: 940px;
  min-width: 720px;
  margin: 10px 100px 10px 100px;
  padding: 20px;
  text-align: left;
}

body {
  font-family: sans-serif;
  line-height: 1.4em;
  color: #212121;
}

p {
  margin-right: 150px;
  margin-left: 150px;
}

h1, h2, h3, h4 {
  text-align: center;
}

.navigation {
  max-width: 940px;
  min-width: 720px;
  background-color: #e8e8ee;
  font-weight: lighter;
  text-align: center;
  margin: 0px auto 0px auto;
  padding: 15px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.social-media {
  margin-top: 50px;
  padding: 15px;
  text-align: center;
}

li {
  display: inline;
  padding: 20px;
}

footer {
  position: absolute;
}

a:link, a:visited {
  text-decoration: none;
  color: #212121;
}
